.left
  .left_articles
    %h2
      %a{:href => "#"} 2011-11-11 
    %p
      = succeed " - " do
        %b Joshua Herman
      Data analysis
    %p
      = succeed " - " do
        %b Camillo Lugaresi
      UI and graphics
    %p
      = succeed " - " do
        %b Eugene Magdel
      setup website
  .lt
  .lbox
    %h2
      Featured Artist:
      %span.yellow Sonia
    .thumb
      = image_tag("sonia.jpg")
      %p
        = image_tag("play.gif", :alt => "Play")
        Sonia
    %p On stage 2000-2005
    %p
      We suggest downloading and listening a dance track called
      %a{:href => "http://www.solucija.com/Sonia_-_Last_night.mp3"} Last Night
